.modal-container {
	background-color: rgba(216, 211, 225, 1);
	position: fixed; 
	top: 15%;
	left: 5%;
	width: 80%; 
	height: 75%;
	padding: 5%;
	border-radius: 5%;
}
.modal-content {
	background-color: white;
	border-radius: 3%;
}

.modal-close {
	font-size: small;
	background-color: white;
	text-align: center;
	border-radius: 100%;
	display: flex;
	justify-self: flex-end;
	position: absolute;
	right: 2%;
	top: 2%
}

.modal-close{
	display: none
}