.product-card{
	padding: 0%;
	height: 22px;
	width: 20%;
	background-color: aqua;
}

.product-card-imgConainer {

}

.product-card-infoContainer {
 
}

.product-card-info-container {

}

.product-card-info {

}

.product-card-price {

}