.product-card{
	padding: 0%;
	height: 349.75px ;
	width: 202.03px;
	background-color: white;
	margin: 3%;
}

.product-card-imgConainer {

}
.product-card-img{
	width: 100%;
	
}

.product-card-infoContainer {
	height: 46px;
	display: flex;
	flex-direction: row;
	padding: 2%;

}

.product-card-info-container {
	width: 75%;

}

.product-card-info {

}

.product-card-price {

}